body {
  /*background: aliceblue;*/
  /*background: mintcream;*/
  background: snow;
  color: #292929;
  font-family: 'Comic Sans', 'Comic Sans MS';
  font-size: 14pt;
}

.config-page{
  margin: 10px 10px;
  display: inline-block;
  width: calc(100% - 100px);
}

.config-tab{
  display: inline-block;
}

.text-label{
  padding-bottom: 5px;
  padding-right: 10px;
  text-align: right;
}

.text-label.grey{
  color: grey;
}

.input-val > *{
  width: -webkit-fill-available;
}

.src-img-row, .output-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 80px auto 20px 30px;
  /*justify-items: center;*/
  align-items: center;
}

.src-img-col > *{
  height: 25px;
}

.output-col > *{
  height: 25px;
}

.row-col-scale-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 80px 50px 10px 60px 50px 10px 80px 35px 20px 50px 10px 100px 60px 50px 120px 40px 10px;
  /*justify-items: center;*/
  align-items: center;
}


.row-col-scale-col > *{
  height: 25px;
}

#auto-button{
  font-size: smaller;
}

.progress-control-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 80px auto 40px 60px 10px;
  /*justify-items: center;*/
  align-items: center;
}

.progress{
  height: 30px;
}

#run-button,#stop-button{
  height: 35px;
  width: 70px;
}