body {
  /*background: aliceblue;*/
  /*background: mintcream;*/
  background: snow;
  color: #292929;
  font-family: 'Comic Sans', 'Comic Sans MS';
  font-size: 14pt;
}

.config-page{
  margin: 10px 10px;
  display: inline-block;
  width: calc(100% - 20px);
}

.config-tab{
  display: inline-block;
}

.text-label{
  padding-bottom: 5px;
  padding-right: 10px;
  text-align: right;
}

.text-label.grey{
  color: grey;
}

.input-val > *{
  width: -webkit-fill-available;
}

.src-img-row, .output-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 80px auto 20px 30px;
  /*justify-items: center;*/
  align-items: center;
}

.src-img-col > *{
  height: 25px;
}

.output-col > *{
  height: 25px;
}

.row-col-scale-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 80px 50px 10px 60px 50px 10px 80px 35px 20px 50px 10px 100px 80px 50px 120px 40px 10px;
  /*justify-items: center;*/
  align-items: center;
}


.row-col-scale-col > *{
  height: 25px;
}

#auto-button{
  background-color: #66DDAA;
  font-size: smaller;
}

#auto-button:hover {
  background-color: #58bc9b;
}


.progress-control-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 80px auto 20px 250px 10px 70px 10px;
  /*justify-items: center;*/
  align-items: center;
}

.progress{
  height: 30px;
}

#progress-status{
  text-align: left;
  font-size: smaller;
}

#start-cancel-button{
  height: 35px;
  width: 70px;
  background: #66DDAA;
}

#start-cancel-button:hover {
  background-color: #58bc9b;
}

/* optional page */
.opt0-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 25px 20px 280px 140px 20px 360px;
  /*justify-items: center;*/
  align-items: center;
}

.opt0-col > *{
  height: 25px;
}

.opt1-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 280px 100px 20px 220px 100px 10px;
  /*justify-items: center;*/
  align-items: center;
}

.opt1-col > *{
  height: 25px;
}

.opt2-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 340px 40px 20px 280px 40px 10px;
  /*justify-items: center;*/
  align-items: center;
}

.opt2-col > *{
  height: 25px;
}

.opt3-row{
  margin: 10px 10px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 340px 40px 20px 280px 40px 10px;
  /*justify-items: center;*/
  align-items: center;
}

.opt3-col > *{
  height: 25px;
}

/*material page*/
.add-material-row{
  margin: 10px 0px;
  /*height: 30px;*/
  display: grid;
  grid-template-columns: 80px 50px auto 10px 70px 60px 30px 70px 30px 10px;
  /*justify-items: center;*/
  align-items: center;
}

.icon-text-btn{
  display: -webkit-inline-box;
  font-size: initial;
  border: 1px solid #ccc;
  /* margin: 0 0.5em 0.5em 0; */
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  padding: 2px;
  width: 100px;
  cursor: pointer;
}

.icon-text-btn:hover {
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff); 
  background-image:    -moz-linear-gradient(top, #eeeeee, #ffffff); 
  background-image:     -ms-linear-gradient(top, #eeeeee, #ffffff); 
  background-image:      -o-linear-gradient(top, #eeeeee, #ffffff); 
  background-image:         linear-gradient(top, #eeeeee, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

.icon-text-btn .text-label{
  padding-left: 5px;
  padding-bottom: 0px;
}

/* table */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border: 1px solid silver;
}

td,
th {
  padding: 8px;
  word-break: break-all;
}

td{
  border: none;
}

th {
  color: white;
  border: 1px solid silver;
  background: #535353;
}

button.remove{
  font-family: fantasy;
}

.remove{
  display: grid;
}

#th-type{
  width: 80px;  
}

#th-size{
  width: 90px;  
}

#th-del{
  width: 50px;  
}
